body
{
    width: 70%;
    vertical-align: central;
    margin: auto;
    background-color: White;

}

.firstline
{
    text-align: center;
    font-family: Open Sans;
    font-size: 50px;
    color: black;

}

.subheadings
{
    text-align: center;
    font-size: 35px;
    color: black;
    font-family: Open Sans;
}

p
{

    font-family: Open Sans;
    font-size: 150%;
    margin-bottom: 5%;
    line-height: 200%;
}
ul
{
    list-style-type: circle;
    font-size: 150%;
    font-family: Open Sans;
    margin-bottom: 5%;
    line-height: 200%;
}

.disclaimer
{
    padding: 20px;
    background-color: crimson;
    color: white;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 150%;
    letter-spacing: 0.075em;

}
.mainImage
{
    /* I used https://www.w3schools.com/howto/howto_css_image_center.asp to learn to center images*/
    display: block;
    margin: auto;
    width: 75%;
}

.block
{
    padding: 20px;
}
.video
{
    margin: auto;
    width: 50%;
}

#homepage
{
    background-color: #FEEEDC;
}

#self
{
    background-color: #EEF3FC;
}

#friend_text
{
    background-color: #E8EFFC ;
}

#learn
{
    background-color: #e6e6ff;
}

.btn-group
{
    /* I used https://coryrylan.com/blog/how-to-center-in-css-with-flexbox , https://scotch.io/tutorials/centering-things-with-css-flexbox to figure out how to center the buttons in a row */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: 50px;
}
.buttons
{
    width: 300px;
    background-color: white;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.05s;
}

.buttons:hover {
    border-bottom-style: solid;
    border-width: thick;

}

#home.buttons:hover
{
    border-color:#FCAC4F;
}
#me.buttons:hover
{
    border-color: #4783F0
}
#friend.buttons:hover
{
    border-color: #134AAE
}
#ed.buttons:hover
{
    border-color: #0C1F44
}
#home
{
    color: #FCAC4F;

}
#me
{
    color: #4783F0;
}
#friend
{
    color: #134AAE;
}
#ed
{
    color: #0C1F44;
}

.home
{
    color: #0C1F44;
}
.me
{
    color: black;
}
.friend
{
    color: black;
}
.ed
{
    color: black;
}
.topic
{
    text-decoration: underline;
    font-weight: bold;
}